@font-face { font-family: Delicious; src: url('/fonts/Delicious-Roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('/fonts/Delicious-Bold.otf'); }
@font-face { font-family: Maven; src: url('/fonts/MavenProLight-300.otf'); }


#logo
{
    font-family: Delicious, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    display:inline-block;
    width: 76%;
    margin: 0 auto;
    text-align:center;

}

#buttons
{
    font-family: Maven, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    display:inline-block;
    width: 76%;
    margin: 0 auto;
    text-align:center;

}

#zheader
{
    color: rgb(255,255,255);
    background:none;
    display:inline-block;
    float: right;
    width:auto;
}

body
{
    background: url(resources/unnamed.png) ;
    color: rgb(255,255,255);
    padding: 15px;


}

input
{
    color: rgb(255,255,255);
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 4px black;
    padding:5px;
    font-family: sans-serif;
    font-size: 20;
}

div
{
    color: rgb(255,255,255);
    background-color: rgba(5,4,2,0.2);
    width:80%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    padding: 15px; 
}
.error {
    color: rgb(255,0,0);
}